*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(29, 33, 40)
}

.navbar{
  background: rgb(240, 58, 53);
  padding: 20px;
  max-width: 1540px;
  margin: auto;
}

.navbar a{
  text-decoration: none;
  margin: 20px;
  font-size: 1em;
  font-family: 'Calibri', sans-serif;
  color: white;
}

.content{
  max-width: 1540px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(52, 40, 61);
}

.content .box1{
  height: 100vh;
  margin: 25px;
  width: 100%;
  background: white;
}
.content .box2{
  height: 100vh;
  margin: 25px;
  width: 100%;
  background: blue;
}

.content1{
  height: 400px;
  width: 420px;
  background: rgb(24, 26, 33);
  float: left;
  font-family: 'Tahoma', sans-serif;
  text-align: left;
}

.content1 h1{
  color: white;
  margin: 20px;
}

.content1 p{
  color: red;
  margin: 20px;
}
